[submodule "blog-site/public"]
	path = blog-site/public
	url = https://github.com/instantiator/instantiator.github.io.git
	branch = main
[submodule "blog-site/themes/anatole"]
	path = blog-site/themes/anatole
	url = https://github.com/instantiator/blog-theme.git
	branch = main

