{{ define "main" }}

<div class="row align-items-start">
    <div class="col col-lg-3 d-none d-lg-block">
      {{ partial "persona.html" . }}
    </div>
    <div class="col-lg" style="overflow-x: hidden;">
        <div id="post-content">
            <h2>{{ .Title }}</h2>
            <div class="mt-2">
                {{ partial "metadata.html" . }}
            </div>
            <div class="mt-4">
                {{ .Content }}
            </div>
        </div>

        <div class="post-footer">
            <div class="info">
                {{- /* If it is part of a series, link to related articles */}}
                {{- $permalink := .Permalink }}
                {{- $siteSeries := .Site.Taxonomies.series }}
                {{ with .Params.series }}{{- range $name := . }}
                  {{- $series := index $siteSeries ($name | urlize) }}
                  <p>
                    See also:
                    <ul>
                    {{- range $page := first 6 $series.Pages }}
                        {{- if ne $page.Permalink $permalink }}<li><a href="{{ $page.Permalink }}">{{ $page.Title }}</a></li>{{ end }}
                    {{- end }}
                    </ul>
                  </p>
                {{ end }}{{ end }}

            </div>
        </div>

    </div>
</div>

{{ end }}
