{{ $dateTime := .PublishDate.Format "2006-01-02" }} {{ $hrDateFormat := "Jan 2, 2006" }}

<div class="card">
    <div class="card-header p-2">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </div>
    <div class="card-body p-2">
        <div class="row g-2">
            {{ if ( isset .Params "thumbnail" ) }}
            <div class="col-4">
                <a href="{{ .RelPermalink }}">
                    <img class="img-fluid img-thumbnail" src="{{ .Params.thumbnail | relURL }}" alt="Thumbnail image" loading="lazy" />
                </a>
            </div>
            {{ end }}
            <div class="col">
                    <p class="card-text"><small class="text-muted">
                        <!-- <i data-feather="calendar"></i> -->
                        <time datetime="{{ $dateTime }}">{{ $dateTime }}</time></small></p>
                    <p class="card-text">{{ .Summary }}</p>

                    {{- /* If it is part of a series, link to related articles */}}
                    {{- $permalink := .Permalink }}
                    {{- $siteSeries := .Site.Taxonomies.series }}
                    {{ with .Params.series }}{{- range $name := . }}
                      {{- $series := index $siteSeries ($name | urlize) }}
                      <p>
                        See also:
                        <ul>
                        {{- range $page := first 6 $series.Pages }}
                            {{- if ne $page.Permalink $permalink }}<li><a href="{{ $page.Permalink }}">{{ $page.Title }}</a></li>{{ end }}
                        {{- end }}
                        </ul>
                      </p>
                    {{ end }}{{ end }}
    
            </div>
        </div>
    </div>
    <div class="card-footer p-2">
        {{ with .Params.categories }}
            {{ range . }}
                {{ $href := print (absURL "categories/") (urlize .) }}
                <a class="badge bg-primary" href="{{ $href }}">{{ . }}</a>
            {{ end }}
        {{ end }}
        {{ with .Params.tags }}
            {{ range . }}
                {{ $href := print (absURL "tags/") (urlize .) }}
                <a class="badge bg-secondary" href="{{ $href }}">#{{ . }}</a>
            {{ end }}
        {{ end }}
    </div>
</div>
